{% trans_default_domain 'FOSUserBundle' %}
{{form_start(form, {'method': 'POST', 'attr':{'class': 'register'}})}}
<div class="row">
    <div class="input-field col s12">
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom) }}
    </div>
    {{ form_errors(form.nom) }}
</div>
<div class="row no-padding">
    <div class="input-field col s12">
        {{ form_label(form.mail) }}
        {{ form_widget(form.mail) }}
    </div>
    {{ form_errors(form.mail) }}
</div>
<div class="row no-padding">
    <div class="input-field col s12">
        {{ form_row(form.motDePasse.first) }}
    </div>
</div>
<div class="row no-padding">
    <div class="input-field col s12">
        {{ form_row(form.motDePasse.second) }}
    </div>
</div>
<div class="row no-padding">
    <div class="input-field col s12">
{{ form_label(form.colocation) }}
        <select>
        {% for colocation in colocations %}
                <option value="">
                    {{ form_label(form.colocation) }}
                </option>
        {% endfor %}
        </select>
        {{ form_widget(form.colocation) }}
    </div>
    {{ form_errors(form.colocation) }}
</div>
<div align="center" class="button-wrap">
    <button class="btn-large waves-effect waves-light" type="submit" name="action">
        {{ 'registration.submit'|trans }}
        <i class="material-icons">send</i>
    </button>
</div>
{{ form_end(form) }}