{% extends "base.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}

    <h2>Liste des annonces</h2>

    <ul>
        {% for annonce in annonces %}
            <li>
                <a href="{{ path('annonce_show', {'id': annonce.id}) }}">
                    {{ annonce.titre }}
                </a>
                par {{ annonce.autheur }},
                le {{ annonce.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas (encore !) d'annonces</li>
        {% endfor %}
    </ul>
    <div class="center">
        <a class="btn waves-effect" href="{{ path('annonce_new') }}">Ajouter une nouvelle annonce</a>
    </div>

{% endblock %}