{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <h1>Modifier la fiche de {{ colocation.nom }}</h1>
        <div class="row">
            {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input class="btn waves-effect center offset-s4 col s4" type="submit" value="Valider" />
        </div>
        {{ form_end(edit_form) }}
        <div class="row">
            <a class="btn waves-effect center offset-s4 col s4" href="{{ path('colocation_index') }}">Liste des colocs</a>
        </div>
    </div>
{% endblock %}